{% extends '::layout.html.twig' %}

{# ================ BASE INFO ================ #}

{% block pageName %}{{ title }}{% endblock pageName%}
{% block navbar %}{% include 'TxAheMainBundle:Navbar:navbar.complete.html.twig' %}{% endblock navbar%}

{# ================ BODY ================ #}

{% block body %}
    <h2>{{ results|raw }}</h2>
{% endblock body %}