<div class="collapse navbar-collapse" id="navAdministration">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="button-nav-collapse1" class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse1" aria-expanded="false" aria-controls="nav-collapse1">Administration</a>
        </li>
    </ul>
    <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse1">
        <li><a href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Valider les AHE</a></li>
        <li><a href="{{ path('tx_ahe_list_validation') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Examiner les propositions d'AHE</a></li>
    </ul>
</div>