{% extends '::navbar.base.html.twig' %}

{% block navbarHeader %}
    {% include 'TxAheMainBundle:Navbar:navbar.header.html.twig' %}
{% endblock navbarHeader%}

{% block navbarContent %}
    {% include 'TxAheMainBundle:Navbar:navbar.sidebar.html.twig' %}
{% endblock navbarContent%}