<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
{% if app.user %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="full-length">
                <div id="currentUser" class="centered">
                    <p class="quando lightgrey"> Connecté en tant que <br/><span class="info">{{ app.user.username }}</span></p>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#profil"><i class="fa fa-fw fa-2x fa-user"></i> Mon profil <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="profil" class="collapse">
                    <li><a href="{{ path('tx_ahe_profile') }}"><i class="fa fa-fw fa-dashboard"></i> Mon tableau de bord</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-wrench"></i> Mes options</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Se déconnecter</a></li>
                </ul>
            </li>

            <li>
                <a data-toggle="collapse" data-target="#mine"><i class="fa fa-fw fa-2x fa-bar-chart"></i> Mes AHE <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="mine" class="collapse">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-check"></i> Mes AHE validées <span class="badge">36</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-cog"></i> Mes AHE en attente <span class="badge">14</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-times"></i> Mes AHE invalidées <span class="badge">13</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-users"></i> Candidatures à examiner <span class="badge">3</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a data-toggle="collapse" data-target="#ahe"><i class="fa fa-fw fa-2x fa-child"></i> Activités Hors Enseignement <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="ahe" class="collapse">
                    <li>
                        <a href="{{ path('tx_ahe_create') }}"><i class="fa fa-fw fa-pencil-square-o"></i> Proposer une AHE</a>
                    </li>
                    <li>
                        <a href="{{ path('tx_ahe_list_ahe') }}"><i class="fa fa-fw fa-list-alt"></i> Consulter les AHE <span class="badge">50</span></a>
                    </li>
                </ul>
            </li>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a data-toggle="collapse" data-target="#administration"><i class="fa fa-fw fa-2x fa-unlock-alt"></i> Administration <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="administration" class="collapse">
                    <li>
                        <a href="{{ path('tx_ahe_list_validation') }}"><i class="fa fa-fw fa-list-ul"></i> Propositions à examiner <span class="badge">50</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-check-square-o"></i> Procédure de validation <span class="badge">50</span></a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
<!-- /.navbar-collapse -->