<div class="collapse navbar-collapse" id="navAhe">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="button-nav-collapse2" class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Activités Hors Enseignement</a>
        </li>
    </ul>
    <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
        <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Gérer mes fiches AHE</a></li>
        <li><a href="{{ path('tx_ahe_create') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Proposer une nouvelle AHE</a></li>
        <li><a href="{{ path('tx_ahe_list_ahe') }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher une AHE</a></li>
    </ul>
</div>