<div class="collapse navbar-collapse" id="navProfil">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="button-nav-collapse3" class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3"> Profil <i class=""></i> </a>
        </li>
    </ul>
    {% if app.user %}
    <ul class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Se déconnecter</a></li>
        <li><a href="#"><i class="fa fa-fw fa-gear"></i> Options</a></li>
        <li><a href="#"><i class="fa fa-fw fa-user"></i> {{ app.user.username }}</a></li>
    </ul>
    {% else %}
        <ul class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-fw fa-power-on"></i> Se connecter</a></li>
        </ul>
    {% endif %}
</div>