#titleEncadrant {
  margin-top: 4px;
}
.encadrant a {
  color: white;
}
.offset-right {
  margin-right: 7%;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.info-box i {
  display: block;
  height: 100px;
  font-size: 60px;
  line-height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.75);
}
.blue-bg {
  color: #fff;
  background: #57889c;
  background-color: #57889c;
  text-align: center;
}
.brown-bg {
  color: #fff;
  background: #d1b993;
  background-color: #d1b993;
}
.red-bg {
  color: #fff;
  background: #d34836;
}
.dark-bg {
  color: #fff;
  background: #1a2732;
  background-color: #1a2732;
}
.green-bg {
  color: #fff;
  background: #26c281;
  background-color: #26c281;
}
.info-box .title,
.info-box .title-bigger {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.info-box .title-bigger {
  font-size: 15px;;
}
.info-box .count,
.info-box .title,
.info-box .title-bigger{
  margin: 0 auto;
  text-align: center;
}
.info-box {
  min-height: 140px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}
.info-box .count {
  margin-top: 14px;
  font-size: 30px;
  font-weight: 700;
}
.listing {
  padding-right: 30px;
}
.standard-margin {
  margin-top: 7%;
  position: relative;
}
.standard-margin-double {
  margin-top: 4%;
  position: relative;
}
.reduced-margin {
  margin-top: 3%;
  position: relative;
}
.keyword {
  color: orange;
}
.ajaxLoader {
  margin-left: 17%;
  height: auto;
  width: 49%;
}
.righter {
  margin-left: 3px;
}
#validationModal {
  margin-top: 11%;
}
#commentaireParticipation,
#commentaireValidation,
#raisonsRejet {
  width: 100%;
  min-height: 100px;
}
#besoinLivrable {
  margin-left: 2%;
}
#rejectionButton {
  margin-top: 8%;
}