
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Quando);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

body,.raleway {
  font-family: Raleway, Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, verdana, sans-serif;
}

h1,h2,h3,h4,h5,.lobster {
  font-family: Lobster, Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, verdana, sans-serif;
}

.cabin {
  font-family: Cabin, Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, verdana, sans-serif;
}

.quando {
  font-family: Quando, Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, verdana, sans-serif;
}


.info{color:#2C9AB7; font-weight:bold}
.valid{color:#32BA62; font-weight:bold}
.invalid{color:#DB1111; font-weight:bold}
.bold{font-weight:bold;}
.lightgrey{color: #666;}
.white{color:white;}
.black{color:black;}