/*============= FORM =============*/

#msform {
  width:400px;
  margin:50px auto;
  text-align:center;
  position:relative;
  h2,h3 {
    font-family:Raleway;
  }
  .form-group {
    padding-bottom: 30px;
    .col-sm-8-smaller {
      width: 58%;
    }
  }
  .touchspin-wrapper {
    padding-bottom: 0px;
  }
  .well {
    margin-left: 15px;
  }
  input, textarea {
    border:1px solid #cccccc;
    border-radius:3px;
    margin-bottom:10px;
    width:100%;
    box-sizing:border-box;
    font-family:Raleway;
    color:#2c3e50;
    font-size:13px;
  }
  .action-button:hover, .action-button:focus {
    box-shadow:0 0 0 2px white, 0 0 0 3px #27ae60;
  }
  fieldset {
    background:white;
    border:0 none;
    border-radius:3px;
    box-shadow:0 0 15px 1px rgba(0,0,0,0.4);
    padding:20px 30px;
    box-sizing:border-box;
    width:100%;
    position:absolute;
  }
  fieldset:not(:first-of-type) {
    display:none;
  }
  .action-button {
    width:100px;
    background:#27ae60;
    font-weight:bold;
    color:white;
    border:0 none;
    border-radius:1px;
    cursor:pointer;
    padding:10px 5px;
    margin:10px 5px;
  }
  .inputLabel {
    padding-top: 2.5%;
  }
  input.col-sm-8 {
    width: 67%;
    margin-left: 4%;
    padding: 11px;
    text-align: center;
  }
  textarea {
    min-height: 100px;
    max-width: 100%;
  }
  .input-group-btn-vertical {
    position: absolute;
    left: 89.5%;
    z-index: 5;
  }
  .form-group {
    margin-bottom: 5%;
  }
  #budgetPrevisionnel, #nombreParticipants {
    text-align: center;
    padding: 0 20%;
  }
  #descriptif {
    margin-top: 3%;
  }
  .optional {
    margin-bottom: -2%;
  }
  #optionalSalle {
    margin-bottom: 7%;
  }
  .submit-form {
    background-color: #5bc0de;
  }
  .form-spec {
    padding-bottom: 0;
  }
  .form-spec textarea {
    margin-bottom: 0;
  }
  .successLeftBorder {
    border-left-color: rgba(39,174,96,0.79);
  }
  .ajaxLoader {
    height: auto;
    width: 23%;
  }
  .ajaxSubtitle {
    font-family: Lobster;
    font-size: 19px;
  }
}

/*============= TITLE/SUBTITLE =============*/

.fs-title {
  font-size:15px;
  text-transform:uppercase;
  color:#2c3e50;
  margin-bottom:10px;
}

.fs-subtitle {
  font-weight:normal;
  font-size:13px;
  color:#666666;
  margin-bottom:20px;
}

/*============= PROGRESS BAR =============*/

#progressbar {
  width: 240%;
  position: relative;
  left: -52%;
  padding-left: 0;
  margin-bottom:30px;
  overflow:hidden;
  counter-reset:step;
  li.active:before, li.active:after {
    background:#27ae60;
    color:white;
  }
  li {
    list-style-type:none;
    color:lightgrey;
    text-transform:uppercase;
    font-size:0.75em;
    width:14.22%;
    float:left;
    position:relative;
  }
  li:before {
    content:counter(step);
    counter-increment:step;
    width:20px;
    line-height:20px;
    display:block;
    font-size:10px;
    color:#333333;
    background:lightgray;
    border-radius:3px;
    margin:0 auto 5px auto;
  }
  li:after {
    content:'';
    width:100%;
    height:2px;
    background:lightgray;
    position:absolute;
    left:-50%;
    top:9px;
    z-index:-1;
  }
  li:first-child:after {
    content:none;
  }
}

/*============= SELECT2 =============*/

.select2, .select2-container {
  width: 100%;
}

/*============= DATE PICKER =============*/

.datepicker {
  text-align: center;
}

/*============= TOUCHSPIN =============*/

.bootstrap-touchspin {
  width: 58%;
}

.bootstrap-touchspin-prefix {
  position: absolute;
  z-index: 5;
  height: 77%;
  padding: 9px 13px;
}

#touchspin-form-label {
  margin-right: 4%;
}



/*============= FORM VALIDATION =============*/

#formAhe, #formDescriptif {
  display:none;
}

.formError {
  width: 33%;
  padding-top: 3%;
  position: relative;
  left: -5%;
}

div.has-error ul.select2-choices {
  border-color: rgb(185, 74, 72) !important;
}