/*============= MENU POSITIONING =============*/

#navContainer {
  width: 100%;
  height:1px;
}
#navAhe {
  padding-right:19.5%;
  top:-50px;
  left:10%;
}
#navAdministration {
  top:-100px;
  left:-29.5%;
}
#nav-collapse1 {
  left:-5%;
}
#nav-collapse2 {
  left:-31%;
}
#currentUser {
  margin-top: 7%;
}
.container-fullscreen {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  position: relative;
  margin-bottom: 3%;
}

/*============= TOGGLED MENU STYLE (ANIMATED) =============*/

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

  .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
  .navbar .nav-collapse .navbar-form { margin: 0; }
  .nav-collapse>li { float: none; }

  .navbar.navbar-default .nav-collapse,
  .navbar.navbar-inverse .nav-collapse {
    transform: translate(-100%,0px);
  }
  .navbar.navbar-default .nav-collapse.in,
  .navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
  }

  .navbar.navbar-default .nav-collapse.slide-down,
  .navbar.navbar-inverse .nav-collapse.slide-down {
    transform: translate(0px,-100%);
  }
  .navbar.navbar-default .nav-collapse.in.slide-down,
  .navbar.navbar-inverse .nav-collapse.in.slide-down {
    transform: translate(0px,0px);
  }
}

.navbar-brand {
  margin: 0 auto;
  position:relative;
  z-index:2;
}

.navbar-nav.navbar-right .btn {
  position:relative;
  z-index:2;
  padding:4px 20px;
  margin:10px auto;
  transition:transform 0.3s;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
  background-color:#6f5499;
  border-color:#6f5499;
  color:#ffffff;
}

.navbar .navbar-collapse {
  position:relative;
  overflow:hidden !important;
  .navbar-right > li:last-child {
    padding-left:22px;
  }
}

.navbar .nav-collapse {
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding-right:80px;
  width:100%;
  .navbar-form {
    border-width:0;
    box-shadow:none;
  }
}

.navbar.navbar-default .nav-collapse {
  background-color:#f8f8f8;
  height:auto !important;
  transition:transform 0.3s;
  transform:translate(0px,-50px);
}

.navbar.navbar-inverse .nav-collapse {
  background-color:#222222;
  height:auto !important;
  transition:transform 0.3s;
  transform:translate(0px,-50px);
}

.navbar-header {
  width: 100%;
}

.nav-collapse > li {
  float:right;
}

.btn.btn-circle {
  border-radius:50px;
}

.btn.btn-outline {
  background-color:transparent;
}

.navbar.navbar-default .nav-collapse.in, .navbar.navbar-inverse .nav-collapse.in {
  transform:translate(0px,0px);
}