@import "fonts.less";
@import "navbar.less";

.bg {
  background: url('../images/bg-login2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-length {
  width: 100%;
}
.emphasis,.emphasis-auto {
  position:relative;
  margin:50px auto;
  text-align:center;
  background:white;
  border:0 none;
  border-radius:3px;
  box-shadow:0 0 15px 1px rgba(0,0,0,0.4);
  padding:20px 30px;
  box-sizing:border-box;
}
.emphasis-auto {
  display: inline-block;
  text-align: left;
  margin: 15px auto;
}
.centered {
  text-align: center;
  margin: 0 auto;
}
.header {
  margin-top: 5%;
}
.spaceBottom {
  margin-bottom: 3%;
}
.error {
  border-color: rgba(219,26,32,0.78);
}
.success {
  border-color: rgba(39,174,96,0.79);
}

.box-background {
  background-color: rgba(28, 35, 39, 0.36);
}

#page-title {
  margin-top: 3%;
  margin-bottom: 4%;
}

body {
  margin:0;
  padding: 0;
  background-color: #222;
  font-family: 'Cabin', sans-serif !important;
  margin: 0;
  background: url(../images/utt-bg2.jpg) no-repeat  center fixed;
  display: compact;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
  padding-left: 0;
}

.navbar-brand{color: #fff !important;}
.navbar-brand:hover{ color:#f49c37 !important; }

#page-wrapper {
  width: 100%;
  padding: 0;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

@media(min-width:768px) {
  #page-wrapper {
    padding: 10px;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #000;
  background-color: #f49c37;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

.custop{
  background: #27ae60;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 275px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav>li>a {
    width: 275px;
    color: #fff !important;
  }

  .side-nav li a:hover {
    outline: none;
    background-color: #f49c37  !important;
    color: #000;
  }

  .side-nav li a:focus,
  .side-nav li a:active{
    outline: none;
    background-color:  rgba(42, 129, 215, 0.6)!important;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #fff;
}

.side-nav>li>ul>li>a:hover {
  color: #000;
}

.media {
  font-size: 0.9em;
}