.panel-title,.panel-body {
  text-align: left;
}
.header {
  margin-top: 2%;
}
#afterScripts {
  th,td,.DataTables_sort_wrapper {
    text-align: center;
    vertical-align: middle;
  }
  label,.dataTables_info {
    color: white;
    select {
      color: black;
    }
  }
  .DataTables_sort_icon,.DataTables_sort_wrapper {
    display: inline-block;
  }
  .DataTables_sort_wrapper {
    font-size: 1em;
    width: 128%;
  }
  .ui-widget-header {
    border: none;
    background: inherit;
  }
  .custom-pagination {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    margin-right: 0;
  }
  .paginate-blue,.paginate-lightblue {
    color: #fff!important;
    background-color: rgba(38, 127, 203, 0.9);
    border-color: #2e6da4;
  }
  .paginate-lightblue {
    background: inherit;
    background-color: rgba(70, 157, 242, 0.9);
  }
  .hoverActivated:hover {
    cursor: pointer;
    background: linear-gradient(to bottom,#585858 0,#111 100%);
  }
}