{% extends 'TxAheMainBundle:Email:email.base.html.twig' %}

{# ================ TITLE/BUTTON ================ #}
{% block emailTitle %}Votre proposition d'AHE a bien été envoyée{% endblock emailTitle %}
{% block button %}<a href="{{ url }}">Voir votre AHE</a>{% endblock button %}


{# ================ INTRODUCTION ================ #}
{% block header %}Votre proposition d'AHE a bien été envoyée !{% endblock header%}
{% block subheader %}
    <p>Bonjour, {{ encadrant.prenom }} {{ encadrant.nom }}.</p>
    <p>Nous avons le plaisir de vous informer que votre proposition a bien été prise en compte. Elle sera examinée par la commission dans les semaines à venir.</p>
{% endblock subheader %}


{# ================ AHE DETAILS ================ #}
{% block intro %}Ce message concerne l'AHE suivante{% endblock intro %}
{% block subintro %}
    <ul>
        <li>Intitulé : <span class="emphasis">{{ ahe.intitule }}</span>.</li>
        <li>Catégorie : <span class="emphasis">{{ ahe.categorie }}</span></li>
        <li>Type : <span class="emphasis">{{ ahe.typeActivite }}</span></li>
        <li>Dates : <span class="emphasis">{{ dateDebut }}</span> au <span class="emphasis">{{ dateFin }}</span></li>
        <li>Statut : <span class="valid">Propostion en attente d'examination</span></li>
    </ul>
{% endblock subintro %}


{# ================ DATE/OUTRO ================ #}
{% block title %}Demande prise en compte{% endblock title %}
{% block subtitle %}
    <p>Vous serez automatiquement notifié par <span class="important">mail</span> lorsque la commission aura statuer sur votre proposition.</p>
    <p>Votre profil a été mis à jour et tracera désormais le statut de votre AHE.</p>
{% endblock subtitle %}


