{% extends 'TxAheMainBundle:Email:email.base.html.twig' %}

{# ================ TITLE/BUTTON ================ #}
{% block emailTitle %}Votre proposition d'AHE
    {% if validation.statut == "Validée" %}
        vient d'être validée
    {% else %}
        a été refusée
    {% endif %}
{% endblock emailTitle %}
{% block button %}<a href="{{ url }}">Voir votre AHE</a>{% endblock button %}


{# ================ INTRODUCTION ================ #}
{% block header %}Votre proposition d'AHE
    {% if validation.statut == "Validée" %}
        vient d'être validée !
    {% else %}
        a été refusée.
    {% endif %}{% endblock header%}
{% block subheader %}
    <p>Bonjour, {{ encadrant.prenom }} {{ encadrant.nom }}.</p>
    {% if validation.statut == "Validée" %}
        <p>Nous avons le plaisir de vous informer que votre proposition d'Activité Hors Enseignement vient d'être <span class="emphasis">validée</span> !</p>
    {% else %}
        <p>Nous avons le regret de vous informer que votre proposition d'Activité Hors Enseignement vient d'être <span class="emphasis">rejetée</span>.</p>
        <p>Elle n'a pas été supprimée : vous pouvez la modifier en fonction des retours fait par le conseil de sorte à ce qu'elle puisse être réexaminée.</p>
    {% endif %}
{% endblock subheader %}


{# ================ AHE DETAILS ================ #}
{% block intro %}Cette décision concerne l'AHE suivante{% endblock intro %}
{% block subintro %}
    <ul>
        <li>Intitulé : <span class="emphasis">{{ ahe.intitule }}</span>.</li>
        <li>Catégorie : <span class="emphasis">{{ ahe.categorie }}</span></li>
        <li>Type : <span class="emphasis">{{ ahe.typeActivite }}</span></li>
        <li>Dates : du <span class="emphasis">{{ dateDebut }}</span> au <span class="emphasis">{{ dateFin }}</span></li>
        <li>Statut :
            {% if validation.statut == "Validée" %}
                <span class="valid">Validée, ouverte aux candidatures</span>
            {% else %}
                <span class="invalid">Proposition rejetée</span>
            {% endif %}
        </li>
    </ul>
{% endblock subintro %}


{% block optional %}
    {% if ahe.commentaireValidation is defined %}
        {% if validation.statut == "Validée" %}
            <h3>Demande de livrable imposé par la commission</h3>
        {% else %}
            <h3>Motif du refus</h3>
        {% endif %}
        <p>{{ ahe.commentaireValidation }}</p>
    {% endif %}
{% endblock optional %}


{# ================ DATE/OUTRO ================ #}
{% block title %}Signification de cette décision{% endblock title %}
{% block subtitle %}
    {% if validation.statut == "Validée" %}
        <p>Votre AHE venant d'être validée, elle apparait désormais dans la liste des <span class="emphasis">AHE disponibles</span>, permettant à tous les étudiants d'y postuler.</p>
        <p>Un <span class="important">mail</span> vous sera envoyé pour chaque nouvelle candidature pour cette AHE</p>
    {% else %}
        <p>Votre proposition d'AHE n'a pas été validée par le conseil. Les raisons justifiant cette décision sont visibles sur la <span class="important">page dédiée</span> à votre AHE. Vous pouvez vous y rendre en utilisant le bouton ci-dessous.</p>
    {% endif %}
{% endblock subtitle %}


