{% extends 'TxAheMainBundle:Email:email.base.html.twig' %}

{# ================ TITLE/BUTTON ================ #}
{% block emailTitle %}Votre candidature à une AHE
    {% if candidature.valide %}
        vient d'être validée
    {% else %}
        a été refusée
    {% endif %}
{% endblock emailTitle %}

{% block button %}<a href="{{ url }}">
        {% if candidature.valide %}
            Voir cette AHE
        {% else %}
            Voir cette décision
        {% endif %}
    </a>{% endblock button %}


{# ================ INTRODUCTION ================ #}
{% block header %}Votre candidature à une AHE
    {% if ahe.valide %}
        vient d'être validée !
    {% else %}
        a été refusée.
    {% endif %}{% endblock header%}
{% block subheader %}
    <p>Bonjour, {{ encadrant.prenom }} {{ encadrant.nom }}.</p>
    {% if ahe.valide %}
        <p>Nous avons le plaisir de vous informer que votre proposition d'Activité Hors Enseignement vient d'être <span class="emphasis">validée</span> !</p>
    {% else %}
        <p>Nous avons le regret de vous informer que votre candidatutre n'a <span class="emphasis">pas été retenue</span>. Notez que cela ne vous empêche pas d'éventuellement postuler à une autre Activité Hors Enseignement.</p>
    {% endif %}
{% endblock subheader %}


{# ================ AHE DETAILS ================ #}
{% block intro %}Cette décision concerne l'AHE suivante{% endblock intro %}
{% block subintro %}
    <ul>
        <li>Intitulé : <span class="emphasis">{{ ahe.intitule }}</span>.</li>
        <li>Catégorie : <span class="emphasis">{{ ahe.categorie }}</span></li>
        <li>Type : <span class="emphasis">{{ ahe.typeActivite }}</span></li>
        <li>Dates : du <span class="emphasis">{{ dateDebut }}</span> au <span class="emphasis">{{ dateFin }}</span></li>
        <li>Participants actuels : <span class="emphasis">{{ candidature.participants }}</span> / <span class="emphasis">{{ ahe.nombreMaxParticipants }}</span></li>
        <li>Statut :
            {% if candidature.valide %}
                <span class="valid">Candidature acceptée</span>
            {% else %}
                <span class="invalid">Candidature rejetée</span>
            {% endif %}
        </li>
    </ul>
{% endblock subintro %}

{% block optional %}
    {% if not candidature.valide %}
        <h3>Motif du refus</h3>
        <p>{{ candidature.commentaireValidation }}</p>
    {% endif %}
{% endblock optional %}


{# ================ DATE/OUTRO ================ #}
{% block title %}Signification de cette décision{% endblock title %}
{% block subtitle %}
    {% if ahe.valide %}
        <p>Votre AHE venant d'être validée, elle apparait désormais dans la liste des <span class="emphasis">AHE disponibles</span>, permettant à tous les étudiants d'y postuler.</p>
        <p>Un <span class="important">mail</span> vous sera envoyé pour chaque nouvelle candidature pour cette AHE</p>
    {% else %}
        <p>Votre candidature n'a pas été retenue par l'encadrant. Les raisons justifiant cette décision sont visibles sur la <span class="important">page dédiée</span> à cette AHE. Vous pouvez vous y rendre en utilisant le bouton ci-dessous.</p>
    {% endif %}
{% endblock subtitle %}