{% extends 'TxAheMainBundle:Email:email.base.html.twig' %}

{# ================ TITLE/BUTTON ================ #}
{% block emailTitle %}Nouvelle candidature pour une de vos AHE{% endblock emailTitle %}
{% block button %}<a href="{{ url }}">Examiner la candidature</a>{% endblock button %}


{# ================ INTRODUCTION ================ #}
{% block header %}Une nouvelle candidature vient d'arriver !{% endblock header%}
{% block subheader %}
    <p>Bonjour, {{ encadrant.prenom }} {{ encadrant.nom }},</p>
    <p>Nous avons le plaisir de vous informer qu'un nouvel étudiant vient de <span class="emphasis">postuler</span> à une de vos <span class="emphasis">Activités Hors Enseignement</span>.</p>
    <p>Sa candidature est <span class="important">en attente</span> jusqu'à ce que vous preniez une décision.</p>
{% endblock subheader %}


{# ================ TEXTUAL INTRODUCTION ================ #}
{% block intro %}La candidature concerne l'AHE suivante{% endblock intro %}
{% block subintro %}
    <ul>
        <li>Intitulé : <span class="emphasis">{{ ahe.intitule }}</span>.</li>
        <li>Catégorie : <span class="emphasis">{{ ahe.categorie }}</span></li>
        <li>Type : <span class="emphasis">{{ ahe.typeActivite }}</span></li>
        <li>Dates : du <span class="emphasis">{{ dateDebut }}</span> au <span class="emphasis">{{ dateFin }}</span></li>
        <li>Participants actuels : <span class="emphasis">{{ candidature.participants }}</span> / <span class="emphasis">{{ ahe.nombreMaxParticipants }}</span></li>
    </ul>
{% endblock subintro %}

{% block optional %}
        <h3>Message accompagnant la candidature</h3>
        <p>{{ commentaireParticipation }}</p>
{% endblock optional %}

{# ================ DATE/OUTRO ================ #}
{% block title %}Aperçu de la candidature{% endblock title %}
{% block subtitle %}
    <p>Il s'agit de <span class="emphasis"> {{ etudiant.prenom }} {{ etudiant.nom }}</span> qui se trouve acutellement être en <span class="emphasis">{{ etudiant.cursus }}</span></p>
    <p>Le bouton ci-dessous vous permettra de <span class="important">statuer</span> sur cette candidature.</p>
{% endblock subtitle %}
