{% extends 'TxAheMainBundle:Email:email.base.html.twig' %}

{# ================ TITLE/BUTTON ================ #}
{% block emailTitle %}Votre candidature a bien été envoyée{% endblock emailTitle %}
{% block button %}<a href="{{ url }}">Suivre votre candidature</a>{% endblock button %}


{# ================ INTRODUCTION ================ #}
{% block header %}Votre candidature a bien été envoyée !{% endblock header%}
{% block subheader %}
    <p>Bonjour, {{ etudiant.prenom }} {{ etudiant.nom }}.</p>
    <p>Nous avons le plaisir de vous informer que l'encadrant de l'AHE à laquelle vous venez de postuler à été notifié du dépôt de votre <span class="emphasis">candidature</span>.</p>
    <p>Votre candidature est <span class="valid">en attente</span> jusqu'à ce qu'il l'examine.</p>
    <p>Vous recevrez un nouveau mail vous indiquant si votre candidature a été retenue ou non sous peu.</p>
{% endblock subheader %}


{# ================ AHE DETAILS ================ #}
{% block intro %}Votre candidature concerne l'AHE suivante{% endblock intro %}
{% block subintro %}
    <ul>
        <li>Intitulé : <span class="emphasis">{{ ahe.intitule }}</span>.</li>
        <li>Catégorie : <span class="emphasis">{{ ahe.categorie }}</span></li>
        <li>Type : <span class="emphasis">{{ ahe.typeActivite }}</span></li>
        <li>Dates : du <span class="emphasis">{{ dateDebut }}</span> au <span class="emphasis">{{ dateFin }}</span></li>
        <li>Participants actuels : <span class="emphasis">{{ candidature.participants }}</span> / <span class="emphasis">{{ ahe.nombreMaxParticipants }}</span></li>
        <li>Statut : <span class="valid">Candidature en attente</span></li>
    </ul>
{% endblock subintro %}


{# ================ DATE/OUTRO ================ #}
{% block title %}Demande prise en compte{% endblock title %}
{% block subtitle %}
    <p>N'hésitez pas à prendre contact avec l'encadrant de cette AHE, <span class="emphasis">{{ encadrant.prenom }} {{ encadrant.nom }}</span>, par <a class="important" href="mailto:{{ encadrant.email }}">mail</a> si vous avez la moindre question ou le moindre doute.</p>
    <p>Votre profil a été mis à jour et tracera désormais le statut de votre demande.</p>
{% endblock subtitle %}


