{% extends '::layout.html.twig' %}


{# ================ BASE INFO ================ #}

{% block pageName %}Création AHE{% endblock pageName%}
{% block navbar %}{% include 'TxAheMainBundle:Navbar:navbar.complete.html.twig' %}{% endblock navbar%}


{# ================ ADDITIONAL CSS/JS ================ #}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@formCSS' %}<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />{% endstylesheets %}
{% endblock stylesheets%}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@formJS' %}<script src="{{ asset_url }}" type="text/javascript"></script>{% endjavascripts %}
{% endblock scripts %}


{# ================ BODY ================ #}

{% block body %}

    <form id="msform" name="msform" action="" method="post">

        {# ------------------------ Progress Bar ------------------------ #}
        <ul id="progressbar" class="quando">
            <li class="active">Encadrant</li>
            <li>Type d'AHE</li>
            <li>Attentes</li>
            <li>Budget</li>
            <li>Matériel & Salle</li>
            <li>Encadrement</li>
        </ul>

        {# ------------------------ Fieldset Encadrant ------------------------ #}
        <fieldset id="formEncadrant">
            <h2 class="fs-title">Sélectionnez l'encadrant</h2>
            <h3 class="fs-subtitle">C'est la première étape</h3>
            <div class="form-group">
                <label for="encadrant" class="col-sm-4 control-label">Encadrant</label>
                <div class="col-sm-8">
                    <select id="encadrant" name="encadrant" class="form-control select2">
                        <option></option>
                        {% for currentUser in users %}
                            <option data-statut="{{ currentUser.statut }}" value="{{ currentUser.id }}">{{ currentUser.prenom }} {{ currentUser.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Statut Encadrant</label>
                <div id="statut" class="col-sm-7 well well-sm">Aucun selectionné</div>
            </div>
            <input type="button" name="next" class="next action-button" value="Suivant" />
        </fieldset>

        {# ------------------------ Fieldset AHE ------------------------ #}
        <fieldset id="formAhe">
            <h2 class="fs-title">Paramétrez votre AHE</h2>
            <h3 class="fs-subtitle">Informations de base</h3>
            <div class="form-group">
                <label for="intitule" class="col-sm-4 control-label input-label">Intitulé</label>
                <input id="intitule" name="intitule" placeholder="Intitulé" type="text" class="col-sm-8 col-sm-8-smaller toggleValidation ignore" />
            </div>
            <div class="form-group">
                <label for="categorie" class="col-sm-4 control-label">Catégorie</label>
                <div class="col-sm-8 select2-wrapper">
                    <select id="categorie" name="categorie" class="form-control select2 toggleValidation ignore" style="width: 100%">
                        <option></option>
                        {% for current in categories %}
                            <option value="{{ current.categorie }}">{{ current.categorie }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-4 control-label">Type d'AHE</label>
                <div class="col-sm-8 select2-wrapper">
                    <select id="type" name="type" class="form-control select2 toggleValidation ignore" style="width: 100%">
                        <option></option>
                        <option value="Individuelle">Individuelle</option>
                        <option value="Collective">Collective</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="dateDebut" class="col-sm-4 control-label">Date de début</label>
                <div class='col-sm-8 date'>
                    <input  id="dateDebut" name="dateDebut" type='text' placeholder="DD/MM/YYYY" class="form-control datepicker toggleValidation ignore" />
                </div>
            </div>
            <div class="row"></div>
            <div class="form-group">
                <label for="dateFin" class="col-sm-4 control-label">Date de fin</label>
                <div class='col-sm-8 date'>
                    <input  id="dateFin" name="dateFin" type='text' placeholder="DD/MM/YYYY" class="form-control datepicker toggleValidation ignore" />
                </div>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Précédent" />
            <input type="button" name="next" class="next action-button" value="Suivant" />
        </fieldset>

        {# ------------------------ Fieldset Descriptif ------------------------ #}
        <fieldset id="formDescriptif">
            <h2 class="fs-title">Précisez vos attentes</h2>
            <h3 class="fs-subtitle">Plus de détails sur votre AHE</h3>
            <div class="form-group">
                <label for="volumeHoraire" class="col-sm-4 control-label">Volume Horaire</label>
                <input id="volumeHoraire" name="volumeHoraire" placeholder="Ex: entre 60h et 120h" type="text" class="col-sm-8 col-sm-8-smaller toggleValidation ignore"/>
            </div>
            <div class="form-group touchspin-wrapper" >
                <label for="nombreParticipants" id="touchspin-form-label" class="col-sm-4 control-label">Nombre de participants</label>
                <input id="nombreParticipants" name="nombreParticipants" type="text" class="col-sm-7 toggleValidation ignore"/>
            </div>
            <textarea id="descriptif" name="descriptif" placeholder="Descriptif" class="toggleValidation ignore"></textarea>
            <textarea id="interetPedagogique" name="interetPedagogique" placeholder="Intérêt pédagogique" class="toggleValidation ignore"></textarea>
            <textarea id="resultatsAttendus" name="resultatsAttendus" placeholder="Résultats attendus" class="toggleValidation ignore"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Précédent" />
            <input type="button" name="next" class="next action-button" value="Suivant" />
        </fieldset>

        {# ------------------------ Fieldset Budget ------------------------ #}
        <fieldset id="formBudget">
            <h2 class="fs-title">Définissez votre budget</h2>
            <h3 class="fs-subtitle">Pour les demandes de budget, c'est ici</h3>
            <div class="form-group optional">
                <label for="besoinBudget" class="col-sm-4 control-label">Besoin de budget</label>
                <input id="besoinBudget" name="besoinBudget" type="checkbox" class="col-sm-7 ignore">
            </div>
            <div id="optionalBudget" style="display: none">
                <div class="form-group touchspin-wrapper" >
                    <label for="budgetPrevisionnel" id="touchspin-form-label" class="col-sm-4 control-label">Budget Prévisionnel</label>
                    <input id="budgetPrevisionnel" name="budgetPrevisionnel" type="text" class="col-sm-7 prefixedTouchspin toggleValidationOptional ignore"/>
                </div>
                <textarea id="detailsBudget" name="detailsBudget" placeholder="Détails du budget souhaité" class="toggleValidationOptional ignore"></textarea>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Précédent" />
            <input type="button" name="next" class="next action-button" value="Suivant" />
        </fieldset>

        {# ------------------------ Fieldset Materiel ------------------------ #}
        <fieldset id="formMateriel">
            <h2 class="fs-title">Indiquez vos besoins matériels</h2>
            <h3 class="fs-subtitle">Pour les demandes de salle et/ou de matériel</h3>
            <div class="form-group optional">
                <label for="besoinSalle" class="col-sm-4 control-label">Besoin d'une salle</label>
                <input id="besoinSalle" name="besoinSalle" type="checkbox" class="col-sm-7 ignore">
            </div>
            <div id="optionalSalle" style="display: none">
                <textarea id="sallePrevisionnelle" name="sallePrevisionnelle" placeholder="Salle(s) souhaitée(s)" class="toggleValidationOptional ignore"></textarea>
            </div>
            <div class="form-group optional">
                <label for="besoinMateriel" class="col-sm-4 control-label">Besoin de matériel</label>
                <input id="besoinMateriel" name="besoinMateriel" type="checkbox" class="col-sm-7 ignore">
            </div>
            <div id="optionalMateriel" style="display: none">
                <textarea id="materielPrevisionnel" name="materielPrevisionnel" placeholder="Matériel souhaité (Ex: vidéo-projecteur, ...)" class="toggleValidationOptional ignore"></textarea>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Précédent" />
            <input type="button" name="next" class="next action-button" value="Suivant" />
        </fieldset>

        {# ------------------------ Fieldset Encadrement Supplémentaire ------------------------ #}
        <fieldset id="formEncadrementSupplementaire">
            <h2 class="fs-title">Besoin de plus ?</h2>
            <h3 class="fs-subtitle">Ici vous pouvez expliciter vos demandes d'encadrement</h3>
            <div class="form-group optional">
                <label for="besoinEncadrement" class="col-sm-4 control-label">Besoin d'encadrement</label>
                <input id="besoinEncadrement" name="besoinEncadrement" type="checkbox" class="col-sm-7 ignore">
            </div>
            <div id="optionalEncadrement" style="display: none;">
                <div class="form-group form-spec">
                    <textarea id="encadrementPrevisionnel" name="encadrementPrevisionnel"  placeholder="Encadrement prévisionnel (Ex: Formateur FFSS, ...)" class="toggleValidationOptional ignore"></textarea>
                </div>
                <div class="form-group form-spec">
                    <textarea id="budgetEncadrement" name="budgetEncadrement"  placeholder="Budget prévisionnel pour l'encadrement" class="toggleValidationOptional ignore"></textarea>
                </div>
                <div class="form-group form-spec">
                    <label for="volumeHoraireEncadrement" class="col-sm-4 control-label">Volume Horaire</label>
                    <input id="volumeHoraireEncadrement" name="volumeHoraireEncadrement" placeholder="Ex: 4h par semaine" type="text" class="col-sm-8 col-sm-8-smaller toggleValidationOptional ignore"/>
                </div>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Précédent" />
            <input type="button" name="submitForm" id="submitForm" class="submitForm action-button submit-form" value="Envoyer" />
        </fieldset>

        {# ------------------------ Fieldset Success/Error ------------------------ #}
        <fieldset id="formEncadrementSupplementaire">
            <h2 id="confirmationTitle" class="fs-title">Le formulaire a été envoyé</h2>
            <h3 id="confirmationSubtitle" class="fs-subtitle">Vos données sont en cours de traitement</h3>
            <div id="simpleLoading">
                <img class="ajaxLoader" src='{{ '/bundles/txahemain/images/ajax-loader.gif' }}' alt=''/>
                <h3 class="fs-subtitle ajaxSubtitle">Traitement en cours</h3>
            </div>
            <div id="resultDiv"></div>
            <input id="optionalButtons" type="button" name="previous" class=" previous action-button" value="Réessayer" style="display: none;" />
        </fieldset>

    </form>

    <div id="errorDiv" class="formError"></div>
{% endblock body %}