{% extends '::layout.html.twig' %}


{# ================ BASE INFO ================ #}

{% block pageName %}Validation des AHE{% endblock pageName%}
{% block navbar %}{% include 'TxAheMainBundle:Navbar:navbar.complete.html.twig' %}{% endblock navbar%}


{# ================ ADDITIONAL CSS/JS ================ #}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@viewCSS' %}<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />{% endstylesheets %}
{% endblock stylesheets%}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@viewJS' %}<script src="{{ asset_url }}" type="text/javascript"></script>{% endjavascripts %}
{% endblock scripts %}


{# ================ BODY ================ #}

{% block body %}
    <div id="page-title">
        <h2 class="centered white quando">Liste des propositions d'AHE à examiner</h2>
    </div>
{% endblock body %}

{% block afterScripts %}
    {{
        datatable ({
            'js' : {
                'aLengthMenu': "[[5,10, 25, 50, -1], [5,10, 25, 50, 'Toutes']]",
                'sAjaxSource' : path('tx_ahe_generate_data_validation_required')
            }
        })
    }}
{% endblock afterScripts %}