{% extends '::layout.html.twig' %}


{# ================ BASE INFO ================ #}

{% block pageName %}Details - AHE n°{{ ahe.id }}{% endblock pageName%}
{% block navbar %}{% include 'TxAheMainBundle:Navbar:navbar.complete.html.twig' %}{% endblock navbar%}


{# ================ ADDITIONAL CSS/JS ================ #}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@detailsCSS' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html"/>{% endstylesheets %}
{% endblock stylesheets%}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@detailsJS' %}<script src="{{ asset_url }}" type="text/javascript"></script>{% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock scripts %}


{# ================ BODY ================ #}

{% block body %}

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
                <i class="fa fa-user"></i>
                <div class="offset-right">
                    <div id="titleEncadrant" class="count encadrant">Encadrant</div>
                    <div class="title-bigger encadrant"><a href="mailto:{{ encadrant.email }}">{{ encadrant.nom }} {{ encadrant.prenom }}</a></div>
                    <div class="title encadrant"><small>{{ encadrant.statut }}</small></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {% if ahe.validation and validation.statut == "Validée" %}
                <div class="info-box green-bg">
                    <i class="fa fa-check-square-o"></i>
                    <div class="offset-right">
                        <div class="count">Validation</div>
                        <div class="title">AHE validée le {{ dateValidation }}</div>
                    </div>
                </div>
            {% elseif ahe.validation and validation.statut == "En attente" %}
                <div class="info-box red-bg">
                    <i class="fa fa-times-circle-o"></i>
                    <div class="offset-right">
                        <div class="count">Validation</div>
                        <div class="title">En attente de modification</div>
                    </div>
                </div>
            {% else %}
                <div class="info-box red-bg">
                    <i class="fa fa-times-circle-o"></i>
                    <div class="offset-right">
                        <div class="count">Validation</div>
                        <div class="title">En attente de validation</div>
                    </div>
                </div>

            {% endif %}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box dark-bg">
                <i class="fa fa-users"></i>
                <div>
                    <div class="count">Participants</div>
                    <div class="title-bigger">{{ candidature.participants }} / {{ ahe.nombreMaxParticipants }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <h2 class="centered white">{{ ahe.intitule }}</h2>
        <h2 class="centered"><small class="white">{{ ahe.typeActivite }} - {{ ahe.categorie }}</small></h2>
    </div>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
        {% include 'TxAheMainBundle:Details:administration.html.twig' %}
    {% else %}
        {% include 'TxAheMainBundle:Details:standard.html.twig' %}
    {% endif %}

{% endblock body %}