{% extends 'layout.html.twig' %}

{% block body %}
    <h3 class="spacedMessage">Bienvenue,  name .</h3>
    <p>
        This is a dummy text.
    </p>
    <div id="captions" class="alert alert-info" style="display: none;"></div>
{% endblock body %}

{% block scripts %}
    {{ parent() }}
{% endblock scripts %}
