<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="GAGNAIRE Romain, NGUIMOUTH Hilarion" />
        <meta name="keywords" content="UTT, TX Project, P15, AHE, PHP, CSS, HMTL, Javascript, AJAX, Twig, YAML, Symfony 2 Framework" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block pageName %}{% endblock pageName %}</title>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}
        {% stylesheets '@baseCSS' %}<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />{% endstylesheets %}
        {% endblock stylesheets%}
    </head>

    <body>
        {% block navbar %}{% endblock navbar%}

        <div id="header" class="container">
            {% block header %}{% endblock header %}
        </div>

        <div id="FOS" class="container">
            {# Affichage des messages flash que définissant les contrôleurs du bundle #}
            {% for key, messages in app.session.flashbag.all() %}
                <div class="alert alert-{{ key }}">
                    {% for message in messages %}
                        {{ message|trans({}, 'FOSUserBundle') }}
                    {% endfor %}
                </div>
            {% endfor %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>

        <div id="mainBody" class="container">
            {% block body %}{% endblock body %}
        </div>

        <div id="scipts" class="container">
        {% block scripts %}
        {% javascripts '@baseJS' %}<script src="{{ asset_url }}" type="text/javascript"></script>{% endjavascripts %}
        {% endblock scripts %}
        </div>

        <div id="afterScripts" class="container">
            {% block afterScripts %}{% endblock afterScripts %}
        </div>
    </body>
</html>