<div class="container-fluid container-fullscreen">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div id="navContainer" class="container">
            <div class="navbar-header">
                <p class="navbar-brand quando pull-left">UTT - Gestion des AHE</p>
                {% block navbarHeader %}{% endblock navbarHeader %}
            </div>
            {% block navbarContent %}{% endblock %}
        </div>
    </nav><!-- /.navbar -->
</div>
