{% extends '::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{# ================ BASE INFO ================ #}

{% block pageName %}Test{% endblock pageName%}
{% block navbar %}{% include 'TxAheMainBundle:Navbar:navbar.complete.html.twig' %}{% endblock navbar%}

{# ================ ADDITIONAL CSS/JS ================ #}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@loginCSS' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html"/>{% endstylesheets %}
{% endblock stylesheets%}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@loginJS' %}<script src="{{ asset_url }}" type="text/javascript"></script>{% endjavascripts %}
{% endblock scripts %}

{# ================ BODY ================ #}
{% block body %}
    <div class="container">
        <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" autofocus/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>
                </div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-info btn-lg btn-block login-button" />
            </div>
        </form>
    </div>
{% endblock body %}