{% extends '::layout.html.twig' %}

{# ================ BASE INFO ================ #}

{% block pageName %}Profil{% endblock pageName%}
{% block navbar %}{% include 'TxAheMainBundle:Navbar:navbar.complete.html.twig' %}{% endblock navbar%}


{# ================ ADDITIONAL CSS/JS ================ #}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@profileCSS' %}<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />{% endstylesheets %}
{% endblock stylesheets%}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@profileJS' %}<script src="{{ asset_url }}" type="text/javascript"></script>{% endjavascripts %}
{% endblock scripts %}

{# ================ BODY ================ #}

{% block body %}
    {% include 'TxAheMainBundle:Profile:dashboard.base.html.twig' %}
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            {% include 'TxAheMainBundle:Profile:dashboard.base.administration.html.twig' %}
        {% else %}
            {% include 'TxAheMainBundle:Profile:dashboard.base.standard.html.twig' %}
        {% endif %}
    {% endif %}
{% endblock body %}
