{% extends 'TxAheMainBundle:Details:base.html.twig' %}

    {# ================= SIDEBAR PILLS ================= #}
    {% block pillsMenu %}
        <li><a href="#tab_validation" data-toggle="pill">Valider</a></li>
    {% endblock pillsMenu%}


    {# ================= PANELS CONTENT ================= #}
    {% block pillsContent %}
        <div class="tab-pane" id="tab_validation">
            <div id="wrapper">
                <div class="col-md-9">
                    <h4 class="raleway spaceBottom"><strong>Validation de cette proposition</strong></h4>
                    <p>Cette AHE n'a pas encore été validée, elle n'est donc pas visible par les étudiants.</p>
                    <p>Si les éléments qui la composent vous semblent convenables, vous pouvez la valider.</p>
                    <p>Dès lors que l'AHE aura été validée, les étudiants pourront y postuler.</p>

                    <div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title">Dernière étape avant la validation</h3>
                                </div>
                                <div class="modal-body">
                                    <h4 class="raleway spaceBottom"><strong>Souhaitez-vous imposer des livrables particuliers ?</strong></h4>
                                    <p>Par exemple pour les grands projets, il peut être judicieux de réclamer une liste des participants avec la répartition des tâches et des propositions de points pour chaque personne</p>
                                    <form id="msform" name="msform" action="" method="post">
                                        <div class="form-group optional">
                                            <label for="besoinLivrable" class="col-sm-4 control-label" hidden>Spécifier un livrable</label>
                                            <input id="besoinLivrable" name="besoinLivrable" type="checkbox" class="col-sm-7 ignore">
                                        </div>
                                        <div id="optionalLivrable" style="display: none">
                                            <textarea id="commentaireValidation" name="commentaireValidation" placeholder="Livrable(s) souhaité(s)" class="toggleValidationOptional ignore"></textarea>
                                            <div id="errorDiv"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <button id="modal-validate" type="button" class="btn btn-primary">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title">Dernière étape avant l'invalidation</h3>
                                </div>
                                <div class="modal-body">
                                    <h4 class="raleway spaceBottom"><strong>Veuillez préciser les raisons de votre choix</strong></h4>
                                    <p>Le créateur de l'AHE souhaitera connaitre les motifs qui ont conduit au rejet de sa proposition. Il aura ainsi la possibilité de la modifier de manière adéquate.</p>
                                    <form id="msform2" name="msform2" action="" method="post">
                                        <div class="form-group">
                                            <textarea id="raisonsRejet" name="raisonsRejet" placeholder="Raison(s) justifiant l'invalidaiton"></textarea>
                                            <div id="errorDiv2"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <button id="modal-invalidate" type="button" class="btn btn-primary">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if not validation %}
                        <div id="resultDiv"></div>
                    {% else %}
                        <div id="resultDiv" class="alert alert-success" role="alert">
                            <p><strong>Cette AHE a déjà été validée.</strong></p>
                            <p><strong>La validation a eu lieu le {{ dateValidation }}</strong></p>
                        </div>
                    {% endif %}
                </div>
                <div id="applyDiv" class="col-md-3 standard-margin-double">
                    {% if not validation %}
                        <input type="hidden" id="target" value="{{ id }}">
                        <button id="validateButton" type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#validationModal">
                            Valider <i id="applyIcon" class="fa fa-sign-in righter"></i>
                        </button>
                        <button id="rejectionButton" type="button" class="btn btn-danger btn-large" data-toggle="modal" data-target="#rejectionModal">
                            Rejetter <i id="rejectionIcon" class="fa fa-times righter"></i>
                        </button>
                        <div id="loadingDiv" hidden>
                            <img class="ajaxLoader" src='{{ '/bundles/txahemain/images/ajax-loader.gif' }}' alt=''/>
                            <h4 class="fs-subtitle ajaxSubtitle">Traitement en cours</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock pillsContent %}