<div class="header">

    {# ================= SIDEBAR PILLS ================= #}
    <ul class="nav nav-pills nav-stacked col-md-3">
        <li class="active"><a href="#tab_description" data-toggle="pill">Description</a></li>
        <li><a href="#tab_interet" data-toggle="pill">Intérêts pédagogiques</a></li>
        <li><a href="#tab_resultats" data-toggle="pill">Résultats attendus</a></li>
        <li><a href="#tab_info" data-toggle="pill">Informations supplémentaires</a></li>
        {% if budget %}
            <li><a href="#tab_budget" data-toggle="pill">Demande de budget</a></li>
        {% endif %}
        {% if salle %}
            <li><a href="#tab_salle" data-toggle="pill">Demande de salle</a></li>
        {% endif %}
        {% if materiel %}
            <li><a href="#tab_materiel" data-toggle="pill">Demande de matériel</a></li>
        {% endif %}
        {% if encadrement %}
            <li><a href="#tab_encadrementl" data-toggle="pill">Demande d'encadrement</a></li>
        {% endif %}
        {% if validation and validation.commentaireValidation %}
            <li><a href="#tab_livrable" data-toggle="pill">Demande de livrable</a></li>
        {% endif %}
        {% block pillsMenu %}{% endblock pillsMenu%}
    </ul>

    {# ================= PANELS CONTENT ================= #}
    <div class="tab-content col-md-9 emphasis-auto">
        <div class="tab-pane active" id="tab_description">
            <h4 class="raleway spaceBottom"><strong>La mission, résumée en quelques phrases</strong></h4>
            <p class="textarea">{{ ahe.description }}</p>
        </div>
        <div class="tab-pane" id="tab_interet">
            <h4 class="raleway spaceBottom"><strong>Vous pourrez vous perfectionner dans de nombreux domaines</strong></h4>
            <p class="textarea">{{ ahe.interetPedagogique }}</p>
        </div>
        <div class="tab-pane" id="tab_resultats">
            <h4 class="raleway spaceBottom"><strong>De multiples défis devront être relevés</strong></h4>
            <p class="textarea">{{ ahe.resultatsAttendus }}</p>
        </div>
        <div class="tab-pane" id="tab_info">
            <h4 class="raleway spaceBottom"><strong>Besoin de plus de détails ?</strong></h4>
            <p>Cette AHE demande d'investir un minimum de temps, à savoir : <strong class="keyword">{{ ahe.volumeHoraire }}</strong></p>
            <p>Elle commencera le <strong class="keyword">{{ dateDebut }}</strong> et se terminera le {{ dateFin }}</strong></p>
        </div>
        {% if budget %}
            <div class="tab-pane" id="tab_budget">
                <h4 class="raleway spaceBottom"><strong>Demande de budget</strong></h4>
                <p class="textarea">Le budget prévisionnel est de <strong class="keyword">{{ budget.budgetPrevisionnel }}€</strong></p>
                <p>Sa répartition est comme suit : </p>
                <p class="textarea"><strong class="keyword">{{ budget.detailsBudget }}</strong></p>
            </div>
        {% endif %}
        {% if salle %}
            <div class="tab-pane" id="tab_salle">
                <h4 class="raleway spaceBottom"><strong>Demande de salle</strong></h4>
                <p>Les salles souhaitées sont les suivantes :</p>
                <p class="textarea"><strong class="keyword">{{ salle.sallePrevisionnelle }}</strong></p>
            </div>
        {% endif %}
        {% if materiel %}
            <div class="tab-pane" id="tab_materiel">
                <h4 class="raleway spaceBottom"><strong>Demande de matériel</strong></h4>
                <p>Le matériel souhaité est le suivant :</p>
                <p class="textarea"><strong class="keyword">{{ materiel.materielPrevisionnel }}</strong></p>
            </div>
        {% endif %}
        {% if encadrement %}
            <div class="tab-pane" id="tab_encadrementl">
                <h4 class="raleway spaceBottom"><strong>Demande d'encadrement supplémentaire</strong></h4>
                <p class="textarea">L'encadrement souhaité concerne : <strong class="keyword">{{ encadrement.encadremmentPrevisionnel }}</strong></p>
                <p class="textarea">Le budget prévisionnel associé est : <strong class="keyword">{{ encadrement.budgetEncadrement }}</strong></p>
                <p class="textarea">Le volume horaire prévisionnel pour l'encadrement est la suivant : <strong class="keyword">{{ encadrement.volumeHoraireEncadrement }}</strong></p>
            </div>
        {% endif %}
        {% if validation and validation.commentaireValidation %}
            <div class="tab-pane" id="tab_livrable">
                <h4 class="raleway spaceBottom"><strong>Demande de livrable</strong></h4>
                <p>Lors de la validation de l'AHE, le conseil a exigé que les livrables suivants soient préparés :</p>
                <p class="textarea"><strong class="keyword">{{ validation.commentaireValidation }}</strong></p>
            </div>
        {% endif %}
        {% block pillsContent %}{% endblock pillsContent%}
    </div>
</div>