{% extends 'TxAheMainBundle:Details:base.html.twig' %}

    {# ================= SIDEBAR PILLS ================= #}
    {% block pillsMenu %}
        {% if not is_granted('ROLE_PERSONNEL') %}
            <li><a href="#tab_candidat" data-toggle="pill">Postuler</a></li>
        {% endif %}
    {% endblock pillsMenu%}

    {# ================= PANELS CONTENT ================= #}
    {% block pillsContent %}
        <div class="tab-pane" id="tab_candidat">
            <div id="wrapper">
                <div class="col-md-9">
                    <h4 class="raleway spaceBottom"><strong>Envie d'y participer ?</strong></h4>
                    <p>La démarche est relativement simple : vous pouvez postuler pour cette AHE.</p>
                    <p>Votre candidature sera ensuite en attente jusqu'à ce que l'encadrant l'examine.</p>
                    <p>Pensez bien à bien vérifier le <strong class="keyword">type d'AHE</strong> avant de postuler.</p>

                    <div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title">Dernière étape avant l'envoi de votre candidature</h3>
                                </div>
                                <div class="modal-body">
                                    <h4 class="raleway spaceBottom"><strong>Veuillez expliciter vos motivations</strong></h4>
                                    <p>L'encadrant sera d'autant plus enclin à accepter votre candidature si vous montrez votre envie de faire partie concourir à la concrétisation de son projet, votre entrain et votre motivation.</p>
                                    <form id="msform" name="msform" action="" method="post">
                                        <textarea id="commentaireParticipation" name="commentaireParticipation" placeholder="Pourquoi souhaitez-vous participer à cette AHE"></textarea>
                                        <div id="errorDiv"></div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <button id="modal-apply" type="button" class="btn btn-primary">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if candidature.possible %}
                        <div id="resultDiv"></div>
                    {% elseif candidature.statut == "En attente" %}
                        <div id="resultDiv" class="alert alert-info" role="alert">
                            <p><strong>Vous avez déjà postulé à cette AHE et votre candidature est en attente.</strong></p>
                            <p><strong>Elle sera examinée par l'encadrant sous peu.</strong>
                        </div>
                    {% elseif candidature.statut == "Acceptée" %}
                        <div id="resultDiv" class="alert alert-success" role="alert">
                            <strong>Vous participez actuellement à cette AHE !</strong>
                        </div>
                    {% elseif candidature.statut == "Rejetée" %}
                        <div id="resultDiv" class="alert alert-danger" role="alert">
                            <p><strong>Vous avez déjà postulé à cette AHE.</strong></p>
                            <p><strong>Néanmoins votre candidature n'a pas été retenue.</strong></p>
                        </div>
                    {% elseif candidature.statut == "Terminée" %}
                        <div id="resultDiv" class="alert alert-success" role="alert">
                            <p><strong>Vous aviez participé à cette AHE qui est maintenant terminée.</strong></p>
                            <p><strong>Les points qui vous ont été attribués sont visibles sur votre profil.</strong></p>
                        </div>
                    {% endif %}
                </div>
                <div id="applyDiv" class="col-md-3 standard-margin">
                    {% if candidature.possible %}
                        <input type="hidden" id="target" value="{{ id }}">
                        <button id="applyButton" type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#applicationModal">
                            Postuler <i id="applyIcon" class="fa fa-sign-in righter"></i>
                        </button>
                        <div id="loadingDiv" hidden>
                            <img class="ajaxLoader" src='{{ '/bundles/txahemain/images/ajax-loader.gif' }}' alt=''/>
                            <h4 class="fs-subtitle ajaxSubtitle">Traitement en cours</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock pillsContent %}